/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  /**
   * colors
   */

  --smokey-black: hsl(0, 0%, 7%);
  --eerie-black: hsl(0, 0%, 9%);
  --radical-red: hsl(346, 100%, 58%);
  --white_a9: hsla(0, 0%, 100%, 0.09);
  --white_a15: hsla(0, 0%, 100%, 0.15);
  --white_a25: hsla(0, 0%, 100%, 0.25);
  --white_a50: hsla(0, 0%, 100%, 0.5);
  --white_a70: hsla(0, 0%, 100%, 0.7);
  --white_a75: hsla(0, 0%, 100%, 0.75);
  --white_a80: hsla(0, 0%, 100%, 0.8);
  --jet-1: hsl(0, 0%, 20%);
  --jet-2: hsl(0, 0%, 16%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);

  /**
   * gradient color
   */

  --gradient-1: linear-gradient(180deg, transparent, var(--smokey-black));
  --gradient-2: linear-gradient(
    180deg,
    var(--smokey-black) 25%,
    hsla(0, 0%, 0%, 0.6) 80%
  );

  /**
   * typography
   */

  --ff-recoleta: "Recoleta", serif;
  --ff-gordita: "Gordita", sans-serif;

  --fs-1: 6rem;
  --fs-2: 5rem;
  --fs-3: 3.8rem;
  --fs-4: 2.8rem;
  --fs-5: 2.6rem;
  --fs-6: 2.2rem;
  --fs-7: 2rem;
  --fs-8: 1.8rem;
  --fs-9: 1.5rem;
  --fs-10: 1.4rem;
  --fs-11: 1.2rem;

  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;

  /**
   * spacing
   */

  --section-padding: 60px;

  /**
   * shadow
   */

  --shadow: 0 12px 30px -10px hsla(0, 0%, 14%, 0.1);

  /**
   * border radius
   */

  --radius-circle: 50%;
  --radius-5: 5px;
  --radius-25: 25px;

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --transition-3: 1s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
span,
button,
ion-icon {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

address {
  font-style: normal;
}

html {
  font-family: var(--ff-gordita);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--smokey-black);
  color: var(--white);
  font-size: 1.6rem;
  font-weight: var(--fw-400);
  line-height: 2.15;
  overflow-x: hidden;
}

body.active {
  overflow: hidden;
}

:focus-visible {
  outline-offset: 4px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--white);
}

::-webkit-scrollbar-thumb {
  background-color: var(--jet-2);
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container {
  padding-inline: 15px;
}

.shape {
  display: none;
}

.section {
  padding-block: var(--section-padding);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--ff-recoleta);
  line-height: 1.2;
}

.h1 {
  font-size: var(--fs-1);
  font-weight: var(--fw-400);
}

.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: var(--fw-300);
}

.h2 {
  font-size: var(--fs-2);
}

.h3 {
  font-size: var(--fs-3);
}

.h4 {
  font-size: var(--fs-4);
}

.h5 {
  font-size: var(--fs-5);
}

.h6 {
  font-size: var(--fs-6);
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--jet-1);
  overflow: hidden;
}

.has-before {
  position: relative;
  z-index: 1;
}

.has-before::before {
  content: "";
  position: absolute;
}

.img-holder.has-before::before {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-image: var(--gradient-1);
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-icon {
  background-color: var(--bg-color, var(--white));
  border-radius: var(--border-radius, var(--radius-circle));
  display: grid;
  place-content: center;
  transition: var(--transition-2);
}

.btn-icon path {
  transition: var(--transition-2);
}

.btn-icon:is(:hover, :focus-visible) {
  background-color: var(--hover-bg-color, var(--white));
}

.btn-icon:is(:hover, :focus-visible) path {
  stroke: var(--hover-text-color, var(--black));
}

.section-subtitle {
  color: var(--white_a25);
  font-size: var(--fs-7);
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

[data-reveal] {
  transform: translateY(50px);
  opacity: 0;
  transition: var(--transition-3);
}

[data-reveal="left"] {
  transform: translate(-50px, 0);
}

[data-reveal="right"] {
  transform: translate(50px, 0);
}

[data-reveal].revealed {
  transform: translate(0, 0);
  opacity: 1;
}

/*-----------------------------------*\
  #LOADING
\*-----------------------------------*/

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  z-index: 5;
  transform-origin: bottom;
  transition: 0.5s var(--cubic-in);
  transition-delay: 0.5s;
}

.loading.loaded {
  transform: scaleY(0);
  pointer-events: none;
}

.loading > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--transition-2);
}

.loading.loaded > * {
  opacity: 0;
}

.loading .circle {
  animation: rotate360 1.5s linear infinite;
}

@keyframes rotate360 {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 18px;
  transition: var(--transition-2);
  z-index: 4;
}

.header.active {
  background-color: var(--eerie-black);
  padding-block: 12px;
  box-shadow: var(--shadow);
}

.header .container,
.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  position: fixed;
  top: 0;
  right: -280px;
  background-color: var(--eerie-black);
  height: 100vh;
  max-width: 280px;
  width: 100%;
  padding: 25px;
  overflow-y: auto;
  z-index: 2;
  transition: 0.25s var(--cubic-out);
  visibility: hidden;
}

.navbar.active {
  visibility: visible;
  transform: translateX(-280px);
  transition-duration: 0.5s;
}

.navbar-top .logo .img {
  width: 130px;
}

.nav-close-btn {
  width: 25px;
  height: 25px;
}

.nav-close-btn .span {
  background-color: var(--white_a80);
  width: 25px;
  height: 3px;
  border-radius: 5px;
  transition: var(--transition-1);
}

.nav-close-btn .one {
  transform: rotate(45deg) translate(2px, 2px);
}

.nav-close-btn .two {
  transform: rotate(-45deg);
}

.nav-close-btn:is(:hover, :focus-visible) .span {
  background-color: var(--radical-red);
}

.navbar-list {
  text-align: center;
  padding-block: 40px;
}

.navbar-link {
  font-size: var(--fs-7);
  font-weight: var(--fw-400);
  padding-block: 2px;
  text-transform: capitalize;
  transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus-visible) {
  color: var(--radical-red);
}

.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  background-color: var(--radical-red);
  color: var(--white);
  padding: 8px 30px;
  border-radius: var(--radius-5);
  margin-block-end: 50px;
}

.login-btn .span {
  font-weight: var(--fw-500);
}

.navbar-title {
  font-size: var(--fs-8);
  font-weight: var(--fw-500);
  line-height: 1;
  margin-block-end: 15px;
}

.navbar-text {
  color: var(--white_a75);
  font-weight: var(--fw-300);
  line-height: 1.6;
  margin-block-end: 15px;
}

.navbar .contact-link {
  color: var(--radical-red);
  font-size: var(--fs-6);
  font-weight: var(--fw-400);
}

.navbar .contact-link:is(:hover, :focus-visible) {
  text-decoration: underline;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--black);
  z-index: 1;
  transition: var(--transition-1);
  opacity: 0;
  pointer-events: none;
}

.overlay.active {
  opacity: 0.75;
  pointer-events: all;
}

/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero {
  padding-block-start: 120px;
  text-align: center;
}

.hero-banner {
  max-width: 150px;
  margin-inline: auto;
  margin-block-end: 20px;
}

.hero .wrapper {
  position: relative;
  text-align: left;
  height: 1.2em;
  margin-block: 10px 25px;
}

.hero .wrapper .strong {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  font-weight: inherit;
  display: flex;
}

.hero-text {
  font-size: var(--fs-10);
  font-weight: var(--fw-300);
  text-transform: uppercase;
  letter-spacing: 5px;
}

.hero .wrapper .space {
  padding: 0.1em;
}

.hero .wrapper :is(.in, .out) {
  opacity: 0;
  transform: scaleY(0);
}

.hero .strong.active .out {
  opacity: 1;
  transform: scaleY(1);
  animation: textWave 0.2s ease reverse forwards;
}

.hero .wrapper .in {
  animation: textWave 0.2s ease forwards;
}

@keyframes textWave {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.about .container {
  display: grid;
  gap: 45px;
}

.about .wrapper,
.about-banner {
  padding-inline-start: 45px;
}

.about .section-title {
  margin-block-end: 35px;
}

.about .section-text {
  font-size: var(--fs-6);
  color: var(--white_a70);
  font-weight: var(--fw-300);
  line-height: 1.7;
  margin-block-end: 35px;
}

.about .wrapper::before {
  top: 10px;
  left: 0;
  background-image: url("../images/about-quote.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
}

.about .section-text .em {
  color: var(--white);
  font-weight: var(--fw-400);
  text-decoration: underline;
}

.about-banner {
  position: relative;
}

.about .shape-1 {
  display: block;
  position: absolute;
  bottom: 10%;
  left: 0;
  z-index: 1;
  width: 100px;
}

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer {
  position: relative;
}

.footer .abs-img {
  display: none;
}

.footer-top {
  padding-block: 100px 140px;
  border-block-start: 1px solid var(--white_a9);
  text-align: center;
  z-index: 1;
}

.footer-top .section-title {
  margin-block: 20px 90px;
  line-height: normal;
}

.footer .btn-icon {
  width: 60px;
  height: 60px;
  margin-inline: auto;
  --hover-bg-color: var(--radical-red);
}

.footer .btn-icon img {
  width: 30px;
}

.footer-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  z-index: -1;
}

.footer-bg::before {
  inset: 0;
  background-image: var(--gradient-2);
}

.footer-bg .img-cover {
  object-position: top;
}

.footer-bottom .logo {
  margin-inline: auto;
  max-width: max-content;
  margin-block-end: 20px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-link {
  font-weight: var(--fw-500);
}

.social-link:is(:hover, :focus-visible) {
  text-decoration: underline;
}

.copyright,
.social-list {
  padding-block-end: 15px;
}

.copyright {
  font-weight: var(--fw-300);
  letter-spacing: 0.5px;
  text-align: center;
}

/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/

.back-top-btn {
  position: fixed;
  bottom: 30px;
  right: -70px;
  width: 70px;
  height: 70px;
  border: 1px dashed currentColor;
  color: var(--radical-red);
  font-size: var(--fs-11);
  border-radius: var(--radius-circle);
  display: grid;
  place-items: center;
  visibility: hidden;
  transition: var(--transition-2);
  z-index: 3;
}

.back-top-btn.show {
  transform: translateX(-100px);
  visibility: visible;
}

.back-top-btn:hover {
  color: var(--white);
}

/*-----------------------------------*\
  #CUSTOM CURSOR
\*-----------------------------------*/

.cursor {
  display: none;
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 575px screen
 */

@media (min-width: 575px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * spacing
     */

    --section-padding: 80px;
  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }

  :is(.header, .gallery, .category, .portfolio) .container {
    max-width: unset;
  }

  /**
   * HEADER
   */

  .navbar {
    max-width: 500px;
    right: -500px;
  }

  .navbar.active {
    transform: translateX(-500px);
  }

  /**
   * FOOTER
   */

  .footer-bottom {
    padding-block-end: 40px;
  }

  .footer-bottom .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  .footer-bottom .logo {
    margin: 0;
  }

  .copyright,
  .social-list {
    padding-block-end: 0;
  }

  .social-list {
    order: 1;
    justify-content: flex-end;
  }
}

/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-3: 4.5rem;
  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 720px;
  }

  /**
   * ABOUT
   */

  .about-banner {
    max-width: 500px;
    margin-inline: auto;
  }

  /**
   * SERVICE
   */

  .service-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .service-card .card-subtitle {
    margin-block-end: 15px;
  }
}

/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-1: 8rem;
  }

  /**
   * REUSED STYLE
   */

  .section {
    position: relative;
  }

  .container {
    max-width: 960px;
  }

  .shape {
    display: block;
    position: absolute;
  }

  /**
   * HEADER
   */

  .header {
    padding-block: 30px;
  }

  .navbar {
    padding: 40px;
    padding-block-end: 10px;
  }

  .navbar-link {
    --fs-7: 2.4rem;
  }

  .navbar-title {
    --fs-8: 2.2rem;
  }

  .navbar-text {
    font-size: 1.9rem;
    margin-block-end: 30px;
  }

  /**
   * HERO
   */

  .hero {
    padding-block-start: 150px;
  }

  .hero .container {
    position: relative;
    z-index: 1;
  }

  .hero-title {
    text-align: left;
  }

  .hero .wrapper {
    --fs-2: 8rem;
    margin-block: -5px 10px;
  }

  .hero-banner {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    max-width: 200px;
    z-index: -1;
  }

  .hero .shape {
    display: none;
  }

  /**
   * ABOUT
   */

  .about .container {
    grid-template-columns: 0.9fr 1fr;
    align-items: flex-start;
    gap: 80px;
  }

  .about-content {
    order: 1;
  }

  .about-banner .shape-2 {
    width: 100%;
    bottom: -20px;
    left: 0;
    animation: moving 8s linear infinite;
  }

  @keyframes moving {
    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(30px);
    }
  }

  .about .shape-3 {
    bottom: 0;
    right: 0;
  }

  /**
   * FOOTER
   */

  .footer .shape {
    top: 25%;
    left: 0;
  }

  .footer .abs-img {
    display: block;
    position: absolute;
    max-width: max-content;
    z-index: -1;
  }

  .footer .abs-img-1 {
    width: 9%;
    top: 12%;
    left: 10%;
  }

  .footer .abs-img-2 {
    width: 14%;
    top: 15%;
    right: 0;
  }

  .footer .abs-img-3 {
    width: 16%;
    left: 0;
    bottom: 10%;
  }

  .footer .abs-img-4 {
    width: 9%;
    right: 15%;
    bottom: 10%;
  }

  /**
   * CUSTOM CURSOR
   */

  .cursor {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 75px;
    height: 75px;
    background-color: var(--white);
    mix-blend-mode: exclusion;
    border-radius: var(--radius-circle);
    transform: translate(-50%, -50%) scale(0.35);
    transition: transform 0.35s;
    pointer-events: none;
    z-index: 6;
  }

  .cursor.hovered {
    transform: translate(-50%, -50%) scale(1.2);
  }

  .cursor.disabled {
    transform: translate(-50%, -50%) scale(0);
  }
}

/**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-1: 10rem;
    --fs-2: 9rem;
    --fs-3: 6.8rem;
    --fs-4: 3.6rem;
    --fs-6: 2.8rem;
  }

  /**
   * HEADER
   */

  .header .container {
    padding-inline: 35px;
  }

  /**
   * HERO
   */

  .hero {
    padding-block: 170px 150px;
  }

  .hero .container {
    max-width: 1250px;
  }

  .hero .wrapper {
    --fs-2: 10rem;
    margin-block: -10px 15px;
  }

  .hero .wrapper .strong {
    left: 40%;
  }

  .hero-text {
    --fs-10: 2rem;
    font-weight: var(--fw-400);
    letter-spacing: 8px;
  }

  .hero-banner {
    max-width: 290px;
  }

  .hero .shape {
    display: block;
    top: 60%;
    left: 0;
  }

  /**
   * ABOUT
   */

  .about .container {
    gap: 120px;
  }

  .about .shape-1 {
    width: max-content;
  }

  .about .section-title {
    margin-block-end: 70px;
  }

  .about .wrapper {
    padding-inline-start: 80px;
  }

  .about .wrapper::before {
    width: 35px;
    height: 30px;
  }

  .about .section-text {
    --fs-6: 3.2rem;
    margin-block-end: 50px;
  }

  /**
   * FOOTER
   */

  .footer-top {
    padding-block: 300px;
  }

  .footer-top .section-title {
    --fs-2: 8rem;
    margin-block-start: 50px;
  }

  .footer .btn-icon {
    width: 90px;
    height: 90px;
  }

  .footer .btn-icon img {
    width: 45px;
  }
}

/**
 * responsive for large than 1400px screen
 */

@media (min-width: 1400px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-1: 13rem;
    --fs-2: 10rem;
    --fs-3: 8rem;
  }

  :is(.header, .gallery, .category, .portfolio) .container {
    max-width: 1580px;
  }

  /**
   * HEADER
   */

  .header .container {
    padding-inline: 60px;
  }

  /**
   * HERO
   */

  .hero .container {
    max-width: 1500px;
  }

  .hero-content {
    margin-inline-end: 400px;
  }

  .hero .wrapper {
    --fs-2: 13rem;
  }

  .hero-text {
    --fs-10: 2.4rem;
  }

  .hero-banner {
    max-width: max-content;
  }

  /**
   * ABOUT
   */

  .about {
    padding-block: 180px 120px;
  }

  /**
   * FOOTER
   */

  .footer-top .container {
    max-width: 1200px;
  }
}

.hidden {
  display: none;
}
